@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p></p>
    <h1 class="display-4">Welcome</h1>
    <h2>Computer On My Egg</h2>
    <h3>Have A Good Day</h3>
    <img src="img/egg.gif" alt="Egg" class="img-fluid mb-3" style="max-width: 50%; height: auto;">
</div>
